main{
    background-color: wheat;
    width: 480px;
    height: 767px;
    border: #00303f 1px solid;
}
p{
    text-align: center;    
    /* transform: translate(0%,0%); */
}
@media only screen and (min-width:768px ){

main{
    width: 960px;
    height: 700px;
    background: greenyellow;
     position: absolute;
    top: 9%;
    /* left: 20%;
    right: 20%; */
    /* margin: 10%; */
}
}