.a{
    
    width: 480px ;
    height:75px ;   
    background: #c56183;
    border-bottom: rgb(24, 23, 7) 1px solid;
}
.b{
    width: 480px ;
    height:150px ; 
    background: #e5c5b5;
    border: #00303f 1px solid;
}
.c{
    width: 480px ;
    height: 125px ;
    background: #e5c5b5;
    border: #00303f 1px solid;
}
.d{
    width: 480px ;
    height: 125px ;
    background: #e5c5b5;
    border: #00303f 1px solid;
    clear: both;
}
.e{
    
    width: 240px ;
    height:250px ;
    background: #f4d9c6;
    border: seagreen 1px solid;
    float: left;
    box-sizing: border-box;
    min-width: 50%;
}
.f{
     width: 240px ;
    height:250px ;
    background: #f4d9c6;
    border: seagreen 1px solid;
    float: right;
    box-sizing: border-box;
    min-width: 50%;


}
.g{
    width: 240px ;
    height:250px ;
    background: #f4d9c6;
    border: seagreen 1px solid;
    float: left;
    box-sizing: border-box;
    min-width: 50%;
}
.h{
    width: 240px ;
    height:250px ;
    background: #f4d9c6;
    border: seagreen 1px solid; 
    float: right;
    box-sizing: border-box;
    min-width: 50%;
}
.i{
    width: 480px ;
    height:80px ;
    background: #c56183;
    border: #00303f 1px solid;
    clear: both;
}

@media only screen and (min-width:768px ){

.a{
      line-height: 100px;
    width: 960px ;
    height:100px ;   
    background:#99bbad;
    border :rgb(24, 23, 7) 1px solid;
    clear: both;
}

 .b{
    line-height: 450px;
    width:200px ; 
    height:600px ;  
    background: #ebd8b7;
    border: rgb(24, 23, 7) 1px solid;
    float: left;
}


 .c{
    width: 380px ;
    height: 200px ;
    background: #ebd8b7;
    border: rgb(24, 23, 7) 1px solid;
    float: left;
    box-sizing: border-box;
     line-height: 200px;
}

.d{
     width: 380px ;
    height: 200px ;
    background: #ebd8b7;
    border: rgb(24, 23, 7) 1px solid;
    float:right;
    box-sizing: border-box;
    line-height: 200px;    
}
.box{
    
    border: seagreen ;
    background:#99bbad;
    border-top: 1px black solid;
    border-bottom: 1px black solid;  
    /* float: left; */
    line-height: 250px;
    /* clear: both; */
    /* width: 20px; */
    /* display: contents;
    position: absolute;
    top: 55px; */
    clear: right;
} 
.e{
    width: 190px ;
    height:300px ;
    background: #c6a9a3;
    border: rgb(24, 23, 7) 1px solid;
    float: left;
    box-sizing: border-box;
    min-width: 10%;
    
}
.f {
    width: 190px ;
    height:300px ;
    background: #c6a9a3;
    border: rgb(24, 23, 7) 1px solid;
    float: left;
    box-sizing: border-box;
    min-width: 10%;
     
}
.g{
    width: 190px ;
    height:300px ;
    background: #c6a9a3;
    border: rgb(24, 23, 7) 1px solid;
    float: left;
    box-sizing: border-box;
    min-width: 10%;

    
}
.h{
    width: 190px ;
    height:300px ;
    background: #c6a9a3;
    border: rgb(24, 23, 7) 1px solid;
    float:left;
    box-sizing: border-box;
    min-width: 10%;
    line-height: 250px;
    
}
.i{
    width: 760px;
    height:100px ;
    background:#99bbad;
    border: rgb(24, 23, 7) 1px solid;
    float: right;
    line-height: 150px;
    box-sizing: border-box;
} 

}